@model PeerReviewSystem.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Questions.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Questions.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectLeadID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectLeadID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reviewerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reviewerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.revieweeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.revieweeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ratingID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ratingID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.reviewID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
